= content_tag_for :li, user do
  = link_to user do
    .thumbnail
      = placeholder 150
    .caption
      = user
      -# = user.country
      -# - unless user.has_role? :admin
      -#   %ul
      -#     - user.courses.each do |course|
      -#       %li= course
