- title "People"
.row
  .col-md-3
    .list-group
      .list-group-item
        %span.badge 14
        Tutors
      .list-group-item
        %span.badge 140
        Students

  .col-md-9
    -# .row
    -#   .col-md-12
    -#     %h4 Administrators
    -#     = render User.with_role(:admin)
    .row
      .col-md-12
        %h4 Tutors
        = render User.with_role(:tutor, :any).order('last_name')
    .row
      .col-md-12
        %h4 Students
        = render User.with_role(:student, :any).order('last_name')