.row
  .columns.large-12
    = title "Courses"

.row
  .columns.large-12
    = arranged_tree_as_list(@courses) do |course|
      = link_to course, course, class: (course.active ? 'active' : 'inactive')
      %span.subtitle= course.subtitle

    -# %ul.large-block-grid-3
    -#   - @course_roots.each do |root|
    -#     %li
    -#       = link_to root do
    -#         = placeholder '300x150'
    -#       -# - root.subtree.each do |a|
    -#       -#   = a.inspect
    -#       = arranged_tree_as_list(@courses) do |course|
    -#         = link_to course, course