= title "Courses"

- if policy(Course).create?
  = link_to "add course", new_course_path, class: 'btn btn-default'

%table.table.table-striped
  - @courses.each do |course|
    = content_tag_for :tr, course do
      %td
        %h4= link_to course, course
