body#admin {

  table {
    overflow-x: scroll;
    max-width: 100%;
  }

  .top-bar {
    li a {
      color: #EEE !important;
      background-color: #444444 !important;
    }
  }

  td,th {
    padding: 5px !important;
    a.dark {
      color: #111;
    }
  }

  .top-bar {
    background: #444;
  }

  th.rotate {
    text-align: left !important;
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
  }

  th.rotate > div {
    transform:
      /* Magic Numbers */
      translate(25px, 51px)
      /* 45 is really 360 - 45 */
      rotate(315deg);
    width: 30px;
  }

  th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
  }

  table {
    width: 100%;
  }

  table, tr, td, th {
    padding: 0;
    border-collapse: collapse;
    cell-padding: none;
    line-height: 1;
  }

  td.amount {
    font-weight: bold;
  }

  tr.Payment td.amount {
    color: green !important;
  }

  tr.Charge td.amount {
    color: red !important;
  }

}

form.button_to {
  display: inline;
}