!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %body
    - flash.each do |key, value|
      = content_tag :div, value, class: "flash #{key}"
    = yield