!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body.sessions
    .row
      .columns.large-4.medium-6.small-11.small-centered#container
        - flash.each do |key, value|
          = content_tag :div, value, class: "flash #{key}"
        = yield
